<v-dialog v-model="dialogEvent" max-width="800px">

    <v-container>
        <v-card flat tile>
            <v-card-text>
                <v-container>
                    <v-form ref="form" v-model="validEvent" :lazy-validation="lazyEvent">
                        <v-row>
                            <v-col>
                                <v-text-field v-model="event.title" label="Title" outlined required :rules="NameRules">
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-textarea v-model="event.description" label="Description" outlined required
                                    :rules="DescriptionRules">
                                </v-textarea>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-autocomplete v-model="event.type" :items="types" label="Type" outlined required
                                    :search-input.sync="searchType" clearable hide-details item-text="title"
                                    :rules="TypeRules">
                                </v-autocomplete>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-tabs v-model="tab_addVSlngLat" :grow="true">
                                    <v-tab>Address</v-tab>
                                    <v-tab-item :key="0" :value="0">
                                        <v-row>
                                            <v-col>
                                                <v-text-field v-model="register.address" label="Address" outlined
                                                    required :rules="AddressEventRules">
                                                </v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-tab-item>
                                    <v-tab>Lat&Lng</v-tab>
                                    <v-tab-item :key="1" :value="1">
                                        <v-row cols="12" md="6">
                                            <v-col>
                                                <v-text-field type="number" v-model="event.lat" label="Latitude"
                                                    outlined required :rules="LatRules">
                                                </v-text-field>
                                            </v-col>
                                            <v-col>
                                                <v-text-field type="number" v-model="register.lng" label="Longitude"
                                                    outlined required :rules="LngRules">
                                                </v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-tab-item>
                                </v-tabs>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="canceldialog">Cancel</v-btn>
                <v-btn text @click="adduser" :disabled="!validEvent" color="success">Publish</v-btn>
            </v-card-actions>
        </v-card>
    </v-container>
</v-dialog>