<v-row justify="center">
    <v-dialog v-model="dialogChangePwd" persistent max-width="600px">
        <v-card>
            <v-card-title>
                <span class="headline">Enter your new information </span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="New password*" outlined required :rules="PasswordRules"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="Retype password*" outlined required :rules="PasswordRules" required></v-text-field>
                        </v-col>
                </v-row>
                </v-container>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialogChangePwd = false">Close</v-btn>
                <v-btn color="blue darken-1" text @click="dialogChangePwd = false">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-row>
</v-app>
</div>