<v-row justify="center">
    <v-dialog v-model="dialogChangeEmail" persistent max-width="600px">
        <v-card>
            <v-card-title>
                <span class="headline">Enter your new Mail </span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="Email*" outlined required :rules="EmailRules"></v-text-field>
                        </v-col>
                </v-row>
                </v-container>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialogChangeEmail = false">Close</v-btn>
                <v-btn color="blue darken-1" text @click="dialogChangeEmail = false">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-row>
</v-app>
</div>