<v-text-field hide-details prepend-icon="search" single-line onfocus="AfficheMenu()" onblur="CacheMenu()">
</v-text-field>
<div id="menu" hidden=true>
    <template>
        <v-card>
            <v-tabs dark background-color="teal darken-3" show-arrows>
                <v-tabs-slider color="teal lighten-3"></v-tabs-slider>
                <v-tab v-for="i in 5" :key="i">
                    Item <% i %>
                </v-tab>
            </v-tabs>
        </v-card>
    </template>
</div>
<script>
    function AfficheMenu() {
      menu.hidden = false;
    }
  </script>

  <script>
    function CacheMenu() {
      menu.hidden = true;
    }
  </script>