#map{
  max-height: 1200px;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  padding: none;
  z-index: 0;
  top: 0px;
}

#fab{
  margin: 10px 50px;
  z-index: 1;
}

#navi{
  z-index: 2;
}

.container {
  padding: 0px;
}

/* CSS pour la page HTML Profil   */

/* card profil pour changer name,mdp, etc */

.card-profil {
  flex-flow : row-reverse;
  margin-right : 0px;
}

.icon-profil{
  font-size-adjust: initial;
  font-size: 80px;
}


/* FIN CSS HTML Profil   */