<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>DatasMap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.0.19/vuetify.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/interface.css" type="text/css" media="screen"/>
</head>
<body>
<v-app>
  <v-content>
    
