{{> header}}
<v-container fluid class="mapsPadding">
  <v-app-bar app color="indigo" dark>
    <v-toolbar-title>
      {{> toolbar/searchbar}}
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn v-if="!conn" color="primary" class="ma-2" dark @click="showLogin">Login</v-btn>
    <v-btn v-if="!conn" color="primary" class="ma-2" dark @click="showRegister">Register</v-btn>
    {{> toolbar/login}}
    <div v-if="conn">{{> toolbar/contrue}}</div>
  </v-app-bar>
  <div id="map"></div>
  {{> map/maps}}
</v-container>
{{> footer}}
{{{vue}}}